<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giangdinh.mymusic">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <service
            android:name=".PlayMusicActivity.PlayMusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".PlayMusicActivity.PlayMusicActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".PlayMusicActivity.BroadcastSMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".PlayMusicActivity.PlayMusicService$PlayMusicReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="PlayMusicService.Action.SetupMediaPlayer" />
                <action android:name="PlayMusicService.Action.StartClick" />
                <action android:name="PlayMusicService.Action.StopClick" />
                <action android:name="PlayMusicService.Action.SeekBarChange" />
                <action android:name="PlayMusicService.Action.NextClick" />
                <action android:name="PlayMusicService.Action.PreviousClick" />
                <action android:name="PlayMusicService.Action.MusicItemClick" />
            </intent-filter>
        </receiver>
    </application>

</manifest>